@tailwind base;
@tailwind components;
@tailwind utilities;

.hide-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

/* Chrome, Edge, and Safari */
.hide-scrollbar::-webkit-scrollbar {
  width: 15px;
}

.hide-scrollbar::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 5px;
}

.hide-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 14px;
  border: 3px solid var(--primary);
}
