@tailwind base;
@tailwind components;
@tailwind utilities;

/* For firefox */
.hide-scrollbar {
  scrollbar-width: 0;
}

/* Chrome, Edge, and Safari */
.hide-scrollbar::-webkit-scrollbar {
  width: 0;
}

.hide-scrollbar::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 5px;
}

.hide-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 14px;
}
